<table>
  <thead>
  <tr>
    <td>Id</td>
    <td>Moodle id</td>
    <td>Course Category</td>
    <td>Full Name</td>
  </tr>
  </thead>
  <tbody>
  <%= render @course unless @course.nil? %>
  </tbody>
</table>